/* Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif, sans-serif, Helvetica, Arial;
}

/* Root */
html {
  font-size: 62.5%;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Colors */
:root {
  --color-black: #000000;
  --color-grey: #DFDBE0;
  --color-white: #FFFFFF;
}