@import '../base/mixin';

.error-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .error-icon {
        width: 15rem;
        filter: grayscale(1);
    }

    .error-message {
        font-size: 2rem;
    }

    .error-text {
        font-size: 4rem;
    }

    .error-home-link {
        font-size: 2.2rem;
        width: 10rem;
        text-align: center;
        border-radius: 1rem;
        background-color: var(--color-black);
        color: var(--color-first);
        font-weight: 500;
        text-decoration: none;
    }
}