@import "../base/mixin";

header {
  z-index: 999;
  position: sticky;
  top: -1px;
  width: 100vw;
  height: 10vh;
  background-color: var(--color-white);

  .header-container {
    width: 100vw;
    height: 10vh;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    align-items: center;
    transition: linear all 1s;

    .header-account {
      background-color: var(--color-first);
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: linear all 1s;

      .header-account-icon {
        transform: scale(1.3);
      }
    }

    .header-feed {
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

        .header-feed-icon {
          width: 3rem;
          transition: linear all 1s;

          &.dark {
            filter: invert(1);
          }
        }
    }

    .header-filters {
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: linear all 1s;

      .header-filters-icon {
        width: 3rem;
        transition: linear all 1s;

        &.dark {
          filter: invert(1);
        }
      }
    }
  }

  .bottom-bar {
    width: 0vw;
    height: 0.7rem;
    transform: linear all 0.3s;
    background-color: var(--color-black);
    position: sticky;
    top: 0;
    z-index: 99999;
  }
}