@import '../base/mixin';

.home-container {
    background-color: var(--color-white);
    position: absolute;
    z-index: 99999;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-logo {
        width: 15rem;
        border: dashed 2px var(--color-black);
    }
}

// .animate__fadeOut {
//     display: none;
// }