@import '../base/mixin';

.home-container {
    background-color: var(--color-main);
    height: 100vh;
    width: 100vw;

    .home-top-container {
        padding-block: 5rem;
        height: 20vh;
        
        .home-switch-container {
            margin: auto;
            height: 6rem;
            border-radius: 3rem;
            width: 30rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            background-color: var(--color-secondary);

            .home-switch {
                background: transparent;
                border: none;
                position: relative;
                cursor: pointer;
                display: flex;
                
                &::after {
                    content: "";
                    // display: block;
                    width: 14rem;
                    height: 5rem;
                    position: absolute;
                    background: var(--color-black);
                    // top: 0;
                    // left: 0;
                    // right: unset;
                    border-radius: 3rem;
                    transition: 0.8s ease all;
                    // box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
                }

                &.active {
                    &::after {
                        transform: translateX(100%);
                        transition: 0.8s ease all;
                    }
                }

                .home-span {
                    width: 14rem;
                    height: 5rem;
                    line-height: 30px;
                    display: block;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // color: var(--color-white);
                    font-size: 1.8rem;
                    font-weight: 400;
                    z-index: 999;
                }

                .span-login {
                    transition: 1.2s ease all;
                    color: var(--color-white);

                    &.active {
                        transition: 1.2s ease all;
                        color: var(--color-black);
                    }
                }

                .span-signup {
                    color: var(--color-black);
                    transition: 1.2s ease all;

                    &.active {
                        transition: 1.2s ease all;
                        color: var(--color-white);
                    }
                }
            }
        }
    }

    .home-bottom-container {
        background-color: var(--color-white);
        height: 80vh;
        width: 100vw;
        padding: 3rem;
        border-radius: 3rem 3rem 0 0;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);

        .login-container {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
        
        &.active {
            display: none;
        }

            .login-form-container {
                display: flex;
                flex-flow: column nowrap;

                .login-form {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 3rem;

                    .login-input {
                        height: 6rem;
                        border-radius: 1.5rem;
                        border: 2px solid var(--color-secondary);
                        padding-left: 2rem;
                        outline: none;
                        font-size: 2rem;

                        &::placeholder {
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: var(--color-secondary);
                        }
                    }

                    .login-submit {
                        background-color: var(--color-black);
                        color: var(--color-white);
                        font-size: 1.8rem;
                        height: 5rem;
                        border-radius: 1.5rem;
                        border: 0;
                        margin-block: 3rem;
                    }
                }

                .login-forgot {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    margin-top: -1rem;
                    font-size: 1.5rem;
                }
            }

            .login-icons-container {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                padding-top: 10rem;
                gap: 8rem;

                .login-icon {
                    transform: scale(1.3);
                }
            }
        }

        .signup-container {
            display: none;
            flex-flow: column nowrap;
            height: 100%;

        &.active {
            display: flex;
        }
        
            .signup-form {
                display: flex;
                flex-flow: column nowrap;
                gap: 3rem;
        
                .signup-input {
                    height: 6rem;
                    border-radius: 1.5rem;
                    border: 2px solid var(--color-secondary);
                    padding-left: 2rem;
                    outline: none;
                    font-size: 2rem;
        
                    &::placeholder {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: var(--color-secondary);
                    }
                }
                
                .signup-submit {
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-size: 1.8rem;
                    height: 5rem;
                    border-radius: 1.5rem;
                    border: 0;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

.home-loged-container {
    height: 90vh;
    width: 100vw;

    .home-title-container {
        height: 10%;
        text-align: center;
        padding-top: 2rem;

        .home-title {
            font-size: 2rem;
        }
    }

    .home-filters-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-inline: 0.5rem;

        .home-filter-label {
            font-size: 2rem;
            background-color: var(--color-main);
            height: 5rem;
            padding-block: 1rem;
            padding-inline: 2rem;
            border-radius: 2rem;
            margin: 0.5rem;
            transition: 0.4s ease all;

        &.active {
            background-color: var(--color-dgrey);
            color: var(--color-white);
            transition: 0.4s ease all;
        }

            .home-filters-input {
                display: none;
            }
        }
    }

    .home-links-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-link {
            text-decoration: none;
            font-size: 2.2rem;
            color: var(--color-black);
            margin-inline: 2rem;
            font-weight: 600;
        }
    }
}