@import '../base/mixin';

.manager-main {
    width: 100vw;
    background-color: var(--color-wheat);

    .manager-container {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        .manager-navbar-container {
            width: 100%;
            height: 70%;
            display: block;

            .manager-navbar {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-around;

                .manager-link-container {
                    border-bottom: var(--color-black) 2px solid;

                    .manager-link {
                        font-size: 3rem;
                        text-decoration: none;
                        color: var(--color-black);
                        letter-spacing: 0.5rem;
                    }
                }
            }
        }

        .manager-button-container {
            display: flex;
            gap: 5rem;

            .manager-button {
                background: transparent;
                border:  none;
                font-weight: 600;
                font-size: 2rem;
            }
        }
    }

    .manager-users-container {
        width:100vw;
        height: 100vh;
    
        .manager-users-title {
            padding-top: 10vh;
            font-size: 2.5rem;
            text-align: center;
        }
    }

    .manager-posts-container {
        width:100vw;
        height: 100vh;
    
        .manager-posts-title {
            padding-top: 10vh;
            font-size: 2.5rem;
            text-align: center;
        }
    }

    .manager-likes-container {
        width:100vw;
        height: 100vh;
    
        .manager-likes-title {
            padding-top: 10vh;
            font-size: 2.5rem;
            text-align: center;
        }
    }
    
    .manager-dislikes-container {
        width:100vw;
        height: 100vh;

        .manager-dislikes-title {
            padding-top: 10vh;
            font-size: 2.5rem;
            text-align: center;
        }
    }
    
    .manager-votes-container {
        width:100vw;
        height: 100vh;

        .manager-votes-title {
            padding-top: 10vh;
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

.management-main {
    width: 100vw;
    height: 80vh;

    .management-container {
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    
        .management-icon {
            width: 15rem;
            filter: grayscale(1);
        }
    
        .management-text {
            font-size: 2rem;
            text-align: center;
            margin-inline: 2rem;
        }
    
        .management-link {
            font-size: 2.5rem;
            width: 11rem;
            text-align: center;
            border-radius: 1rem;
            background-color: var(--color-black);
            color: var(--color-grey);
            font-weight: 500;
            text-decoration: none;
        }
    }
}