@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif, Helvetica, Arial;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --color-main: #DFDBE0;
  --color-secondary: #D5D0CD;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

::-webkit-scrollbar {
  width: 0px;
}

::selection {
  background: var(--color-secondary);
  color: black;
}

/* Spinner loader */
.lds-ellipsis {
  display: flex;
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 10rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--color-main);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.error-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.error-container .error-icon {
  width: 15rem;
  filter: grayscale(1);
}
.error-container .error-message {
  font-size: 2rem;
}
.error-container .error-text {
  font-size: 4rem;
}
.error-container .error-home-link {
  font-size: 2.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

header {
  z-index: 99999;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  align-items: center;
}
header .header-account {
  background-color: var(--color-main);
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-account .header-account-link .header-account-icon {
  transform: scale(1.3);
}
header .header-feed {
  background-color: var(--color-white);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-feed .header-feed-link .header-feed-icon {
  transform: scale(1.5);
}

.home-container {
  background-color: var(--color-white);
  position: absolute;
  z-index: 99999;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .home-logo {
  width: 15rem;
  border: dashed 2px var(--color-black);
}

.posts-main {
  width: 100vw;
  height: 80vh;
}
.posts-main .posts-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.posts-main .posts-container .posts-icon {
  width: 15rem;
  filter: grayscale(1);
}
.posts-main .posts-container .posts-text {
  font-size: 2rem;
  text-align: center;
  margin-inline: 2rem;
}
.posts-main .posts-container .posts-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.loged-main {
  width: 100vw;
  height: 80vh;
}
.loged-main .loged-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.loged-main .loged-container .loged-icon {
  width: 15rem;
  filter: grayscale(1);
}
.loged-main .loged-container .loged-text {
  font-size: 2rem;
  text-align: center;
}
.loged-main .loged-container .loged-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.login-main {
  width: 100vw;
  height: 80vh;
}
.login-main .login-background {
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url("assets/images/background-login-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.15rem);
}
.login-main .login-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 80vw;
  height: 40vh;
  border-radius: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.login-main .login-container .login-title {
  font-size: 3rem;
  font-weight: 800;
  height: 5%;
  margin-block: 3rem;
  color: var(--color-white);
  letter-spacing: 1rem;
}
.login-main .login-container .login-form {
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.login-main .login-container .login-form .login-form-label {
  width: 70%;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  color: var(--color-white);
}
.login-main .login-container .login-form .login-form-input {
  width: 70%;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-white);
  padding-left: 0.5rem;
}
.login-main .login-container .login-form .login-form-input:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-white);
}
.login-main .login-container .login-form .login-form-input::placeholder {
  font-size: 1.5rem;
}
.login-main .login-container .login-form .login-form-input-phone::-webkit-inner-spin-button {
  display: none;
}
.login-main .login-container .login-form .login-form-button {
  width: 40%;
  background-color: var(--color-white);
  border: 0;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-block: 1rem;
}

.registered-main {
  width: 100vw;
  height: 80vh;
}
.registered-main .registered-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.registered-main .registered-container .registered-icon {
  width: 15rem;
  filter: grayscale(1);
}
.registered-main .registered-container .registered-text {
  font-size: 2rem;
  text-align: center;
}
.registered-main .registered-container .registered-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.register-main {
  width: 100vw;
  height: 80vh;
}
.register-main .register-background {
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url("assets/images/background-register-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.15rem);
}
.register-main .register-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 80vw;
  height: 70vh;
  border-radius: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.register-main .register-container .register-title {
  font-size: 3rem;
  font-weight: 800;
  height: 5%;
  margin-block: 2rem;
  color: var(--color-white);
  letter-spacing: 1rem;
}
.register-main .register-container .register-form {
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.register-main .register-container .register-form .register-form-label {
  width: 70%;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--color-white);
}
.register-main .register-container .register-form .register-form-input {
  width: 70%;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-white);
  padding-left: 0.5rem;
}
.register-main .register-container .register-form .register-form-input:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-white);
}
.register-main .register-container .register-form .register-form-input::placeholder {
  font-size: 1.5rem;
}
.register-main .register-container .register-form .register-form-input-phone::-webkit-inner-spin-button {
  display: none;
}
.register-main .register-container .register-form .register-form-button {
  width: 40%;
  background-color: var(--color-white);
  border: 0;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.no-account-main {
  width: 100vw;
  height: 80vh;
}
.no-account-main .no-account-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.no-account-main .no-account-container .no-account-icon {
  width: 15rem;
  filter: grayscale(1);
}
.no-account-main .no-account-container .no-account-text {
  font-size: 2rem;
  text-align: center;
}
.no-account-main .no-account-container .no-account-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.account-main {
  width: 100vw;
  background-color: var(--color-wheat);
}
.account-main .account-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.account-main .account-container .account-navbar-container {
  width: 100%;
  height: 70%;
  display: block;
}
.account-main .account-container .account-navbar-container .account-navbar {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.account-main .account-container .account-navbar-container .account-navbar .account-link-container {
  border-bottom: var(--color-black) 2px solid;
}
.account-main .account-container .account-navbar-container .account-navbar .account-link-container .account-link {
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-black);
  letter-spacing: 0.5rem;
}
.account-main .account-container .account-buttons-container {
  display: flex;
  gap: 5rem;
}
.account-main .account-container .account-buttons-container .account-button {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 2rem;
}
.account-main .account-profile-container {
  width: 100vw;
  height: 60vh;
}
.account-main .account-profile-container .account-profile-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.account-main .account-profile-container .account-profile-form {
  display: flex;
  flex-flow: row wrap;
  padding-block: 3rem;
  justify-content: center;
}
.account-main .account-profile-container .account-profile-form .account-form-label {
  width: 30%;
  font-size: 1.5rem;
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.account-main .account-profile-container .account-profile-form .account-form-input {
  width: 60%;
  font-size: 1.5rem;
  margin-block: 1rem;
  height: 4rem;
  border: none;
  background-color: var(--color-white);
  padding-left: 1.5rem;
  border-radius: 0.3rem;
}
.account-main .account-profile-container .account-profile-form .account-form-input:disabled {
  background-color: var(--color-grey);
}
.account-main .account-profile-container .account-profile-form .account-form-input:focus, .account-main .account-profile-container .account-profile-form .account-form-input:active {
  outline: none;
}
.account-main .account-profile-container .account-profile-form .account-edit-button, .account-main .account-profile-container .account-profile-form .account-save-button {
  width: 15%;
  margin: 2rem;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 1.7rem;
  border-left: solid 2px black;
  border-right: solid 2px black;
}
.account-main .account-likes-container {
  width: 100vw;
  height: 100vh;
}
.account-main .account-likes-container .account-likes-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.account-main .account-dislikes-container {
  width: 100vw;
  height: 100vh;
}
.account-main .account-dislikes-container .account-dislikes-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.account-main .account-votes-container {
  width: 100vw;
  height: 100vh;
}
.account-main .account-votes-container .account-votes-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}

.contact-main {
  width: 100vw;
}
.contact-main .contact-image {
  background-image: url("assets/images/image-contact-mobile.jpg");
  height: 25vh;
  background-size: cover;
}
.contact-main .contact-container {
  background-color: var(--color-wheat);
  width: 100vw;
  height: 80vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  overflow: hidden;
  padding-block: 3rem;
  border-top: dashed 2px black;
}
.contact-main .contact-container .contact-title {
  font-size: 3rem;
  font-weight: 800;
  height: 5%;
  margin-block: 2rem;
  color: var(--color-black);
  letter-spacing: 1rem;
}
.contact-main .contact-container .contact-form {
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contact-main .contact-container .contact-form .contact-form-label {
  width: 70%;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--color-black);
}
.contact-main .contact-container .contact-form .contact-form-input {
  width: 70%;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-black);
  padding-left: 0.5rem;
}
.contact-main .contact-container .contact-form .contact-form-input:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-black);
}
.contact-main .contact-container .contact-form .contact-form-input::placeholder {
  font-size: 1.5rem;
  height: 5rem;
}
.contact-main .contact-container .contact-form .contact-form-textarea {
  resize: vertical;
  width: 70%;
  height: 8rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-black);
  padding-left: 0.5rem;
}
.contact-main .contact-container .contact-form .contact-form-textarea:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-black);
}
.contact-main .contact-container .contact-form .contact-form-input-phone::-webkit-inner-spin-button {
  display: none;
}
.contact-main .contact-container .contact-form .contact-form-button {
  width: 30%;
  background-color: var(--color-black);
  color: var(--color-grey);
  border: 0;
  height: 4rem;
  font-size: 2.2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.contact-main .contact-map-container {
  background-color: var(--color-wheat);
  width: 100vw;
  margin-top: -0.1rem;
}
.contact-main .contact-map-container .contact-map-text {
  font-size: 3rem;
  padding: 5rem 0rem 2rem 2rem;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}
.contact-main .contact-map-container .contact-map {
  width: 100vw;
  height: 50vh;
  border: 0;
  filter: grayscale(1);
}

.manager-main {
  width: 100vw;
  background-color: var(--color-wheat);
}
.manager-main .manager-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.manager-main .manager-container .manager-navbar-container {
  width: 100%;
  height: 70%;
  display: block;
}
.manager-main .manager-container .manager-navbar-container .manager-navbar {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.manager-main .manager-container .manager-navbar-container .manager-navbar .manager-link-container {
  border-bottom: var(--color-black) 2px solid;
}
.manager-main .manager-container .manager-navbar-container .manager-navbar .manager-link-container .manager-link {
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-black);
  letter-spacing: 0.5rem;
}
.manager-main .manager-container .manager-button-container {
  display: flex;
  gap: 5rem;
}
.manager-main .manager-container .manager-button-container .manager-button {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 2rem;
}
.manager-main .manager-users-container {
  width: 100vw;
  height: 100vh;
}
.manager-main .manager-users-container .manager-users-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.manager-main .manager-posts-container {
  width: 100vw;
  height: 100vh;
}
.manager-main .manager-posts-container .manager-posts-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.manager-main .manager-likes-container {
  width: 100vw;
  height: 100vh;
}
.manager-main .manager-likes-container .manager-likes-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.manager-main .manager-dislikes-container {
  width: 100vw;
  height: 100vh;
}
.manager-main .manager-dislikes-container .manager-dislikes-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}
.manager-main .manager-votes-container {
  width: 100vw;
  height: 100vh;
}
.manager-main .manager-votes-container .manager-votes-title {
  padding-top: 10vh;
  font-size: 2.5rem;
  text-align: center;
}

.management-main {
  width: 100vw;
  height: 80vh;
}
.management-main .management-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.management-main .management-container .management-icon {
  width: 15rem;
  filter: grayscale(1);
}
.management-main .management-container .management-text {
  font-size: 2rem;
  text-align: center;
  margin-inline: 2rem;
}
.management-main .management-container .management-link {
  font-size: 2.5rem;
  width: 11rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
