/* Font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif, sans-serif, Helvetica, Arial;
}

/* Colors */
:root {
  --color-black: #000000;
  --color-grey: #DFDBE0;
  --color-wheat: #d5d0cd;
  --color-white: #FFFFFF;
}

/* Root */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

.error-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.error-container .error-icon {
  width: 15rem;
  filter: grayscale(1);
}
.error-container .error-message {
  font-size: 2rem;
}
.error-container .error-text {
  font-size: 4rem;
}
.error-container .error-home-link {
  font-size: 2.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

header {
  z-index: 99999;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
header .top-bar {
  height: 0.5rem;
  transition: all linear 0.2s;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  margin-top: -0.1rem;
}
header .header-logo {
  width: 9rem;
  margin: 1rem;
}
header .header-menu-mobile-button {
  background-color: transparent;
  border: none;
}
header .header-menu-mobile-button .header-menu-mobile {
  width: 3.5rem;
  margin: 2rem;
}
header .header-menu-mobile-close-button {
  background-color: transparent;
  border: none;
  padding: 0.7rem;
}
header .header-menu-mobile-close-button .header-menu-mobile-close {
  width: 2.5rem;
  margin: 1.8rem;
}
header .nav-bar-container {
  display: none;
}
header .nav-bar-container .nav-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 9rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey);
  position: absolute;
  right: 0;
  top: 6.5rem;
  list-style: none;
  padding-top: 5rem;
}
header .nav-bar-container .nav-bar .nav-bar-link {
  text-decoration: none;
  font-size: 3.5rem;
  color: var(--color-black);
  font-weight: 900;
  letter-spacing: 1rem;
}
header .open-navbar {
  display: flex;
}

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  background-color: var(--color-grey);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
footer .footer-up-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-inline: 2rem;
  margin-block: 1rem;
}
footer .footer-up-container .footer-job {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}
footer .footer-up-container .footer-link {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-black);
  text-decoration: none;
}
footer .footer-text {
  color: var(--color-black);
  font-size: 1.1rem;
}

.section-banner {
  width: 100vw;
}
.section-banner .banner-mobile-container {
  height: 55vh;
}
.section-banner .banner-mobile-container .banner-mobile-image {
  width: 100%;
  height: 100%;
}
.section-banner .banner-desktop-container {
  display: none;
}
.section-banner .banner-desktop-container .banner-desktop-image {
  width: 100%;
  height: 100%;
}

.section-intro {
  border-top: 3px solid var(--color-grey);
  width: 100vw;
  margin-block: -0.2rem;
  display: flex;
  justify-content: space-around;
}
.section-intro .intro-title-container {
  background-color: var(--color-grey);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-intro .intro-title-container .intro-title {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 800;
  text-decoration: line-through;
}
.section-intro .intro-text-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-intro .intro-text-container .intro-text {
  font-size: 1.6rem;
  margin: 2rem;
  text-align: justify;
  font-weight: 500;
}

.section-interest {
  border-top: 3px solid var(--color-grey);
  width: 100vw;
  margin-block: -0.2rem;
  display: flex;
  justify-content: space-around;
}
.section-interest .interest-texts-container {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.section-interest .interest-texts-container .interest-text {
  font-size: 1.6rem;
  margin: 2rem;
  text-align: justify;
  font-weight: 500;
}
.section-interest .interest-link-container {
  background-color: var(--color-grey);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-interest .interest-link-container .interest-link {
  font-size: 3.5rem;
  color: var(--color-white);
  font-weight: 800;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-decoration: underline;
}

.section-register {
  border-top: 3px solid var(--color-grey);
  width: 100vw;
  margin-block: -0.2rem;
  display: flex;
  justify-content: space-around;
}
.section-register .register-link-container {
  background-color: var(--color-grey);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-register .register-link-container .register-link {
  font-size: 3rem;
  color: var(--color-white);
  font-weight: 800;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-decoration: underline;
}
.section-register .register-texts-container {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.section-register .register-texts-container .register-text {
  font-size: 1.6rem;
  margin: 2rem;
  text-align: justify;
  font-weight: 500;
}

.posts-main {
  width: 100vw;
  height: 80vh;
}
.posts-main .posts-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.posts-main .posts-container .posts-icon {
  width: 15rem;
  filter: grayscale(1);
}
.posts-main .posts-container .posts-text {
  font-size: 2rem;
  text-align: center;
  margin-inline: 2rem;
}
.posts-main .posts-container .posts-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.loged-main {
  width: 100vw;
  height: 80vh;
}
.loged-main .loged-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.loged-main .loged-container .loged-icon {
  width: 15rem;
  filter: grayscale(1);
}
.loged-main .loged-container .loged-text {
  font-size: 2rem;
  text-align: center;
}
.loged-main .loged-container .loged-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.login-main {
  width: 100vw;
  height: 80vh;
}
.login-main .login-background {
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url("assets/images/background-login-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.15rem);
}
.login-main .login-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 80vw;
  height: 40vh;
  border-radius: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.login-main .login-container .login-title {
  font-size: 3rem;
  font-weight: 800;
  height: 5%;
  margin-block: 3rem;
  color: var(--color-white);
  letter-spacing: 1rem;
}
.login-main .login-container .login-form {
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.login-main .login-container .login-form .login-form-label {
  width: 70%;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  color: var(--color-white);
}
.login-main .login-container .login-form .login-form-input {
  width: 70%;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-white);
  padding-left: 0.5rem;
}
.login-main .login-container .login-form .login-form-input:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-white);
}
.login-main .login-container .login-form .login-form-input::placeholder {
  font-size: 1.5rem;
}
.login-main .login-container .login-form .login-form-input-phone::-webkit-inner-spin-button {
  display: none;
}
.login-main .login-container .login-form .login-form-button {
  width: 40%;
  background-color: var(--color-white);
  border: 0;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-block: 1rem;
}

.registered-main {
  width: 100vw;
  height: 80vh;
}
.registered-main .registered-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.registered-main .registered-container .registered-icon {
  width: 15rem;
  filter: grayscale(1);
}
.registered-main .registered-container .registered-text {
  font-size: 2rem;
  text-align: center;
}
.registered-main .registered-container .registered-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.register-main {
  width: 100vw;
  height: 80vh;
}
.register-main .register-background {
  position: absolute;
  width: 100vw;
  height: 80vh;
  background-image: url("assets/images/background-register-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.15rem);
}
.register-main .register-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6549019608);
  width: 80vw;
  height: 70vh;
  border-radius: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.register-main .register-container .register-title {
  font-size: 3rem;
  font-weight: 800;
  height: 5%;
  margin-block: 2rem;
  color: var(--color-white);
  letter-spacing: 1rem;
}
.register-main .register-container .register-form {
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.register-main .register-container .register-form .register-form-label {
  width: 70%;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--color-white);
}
.register-main .register-container .register-form .register-form-input {
  width: 70%;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-white);
  padding-left: 0.5rem;
}
.register-main .register-container .register-form .register-form-input:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-white);
}
.register-main .register-container .register-form .register-form-input::placeholder {
  font-size: 1.5rem;
}
.register-main .register-container .register-form .register-form-input-phone::-webkit-inner-spin-button {
  display: none;
}
.register-main .register-container .register-form .register-form-button {
  width: 40%;
  background-color: var(--color-white);
  border: 0;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.account-main {
  width: 100vw;
  height: 80vh;
}
.account-main .account-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.account-main .account-container .account-icon {
  width: 15rem;
  filter: grayscale(1);
}
.account-main .account-container .account-text {
  font-size: 2rem;
  text-align: center;
}
.account-main .account-container .account-link {
  font-size: 2.5rem;
  width: 15rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.contact-main {
  width: 100vw;
}
.contact-main .contact-image {
  background-image: url("assets/images/test-1.jpg");
  height: 25vh;
  background-size: cover;
}
.contact-main .contact-container {
  background-color: var(--color-wheat);
  width: 100vw;
  height: 80vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  overflow: hidden;
  padding-block: 3rem;
  border-top: dashed 2px black;
}
.contact-main .contact-container .contact-title {
  font-size: 3rem;
  font-weight: 800;
  height: 5%;
  margin-block: 2rem;
  color: var(--color-black);
  letter-spacing: 1rem;
}
.contact-main .contact-container .contact-form {
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contact-main .contact-container .contact-form .contact-form-label {
  width: 70%;
  text-align: start;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--color-black);
}
.contact-main .contact-container .contact-form .contact-form-input {
  width: 70%;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-black);
  padding-left: 0.5rem;
}
.contact-main .contact-container .contact-form .contact-form-input:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-black);
}
.contact-main .contact-container .contact-form .contact-form-input::placeholder {
  font-size: 1.5rem;
  height: 5rem;
}
.contact-main .contact-container .contact-form .contact-form-textarea {
  resize: vertical;
  width: 70%;
  height: 8rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-grey);
  transition: ease all 0.5s;
  font-size: 1.8rem;
  color: var(--color-black);
  padding-left: 0.5rem;
}
.contact-main .contact-container .contact-form .contact-form-textarea:focus {
  outline: none;
  transform: translateX(10%);
  border-bottom: 2px solid var(--color-black);
}
.contact-main .contact-container .contact-form .contact-form-input-phone::-webkit-inner-spin-button {
  display: none;
}
.contact-main .contact-container .contact-form .contact-form-button {
  width: 30%;
  background-color: var(--color-black);
  color: var(--color-grey);
  border: 0;
  height: 4rem;
  font-size: 2.2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.contact-main .contact-map-container {
  background-color: var(--color-wheat);
  width: 100vw;
  margin-top: -0.1rem;
}
.contact-main .contact-map-container .contact-map-text {
  font-size: 3rem;
  padding: 5rem 0rem 2rem 2rem;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}
.contact-main .contact-map-container .contact-map {
  width: 100vw;
  height: 50vh;
  border: 0;
  filter: grayscale(1);
}

.manager-main {
  width: 100vw;
  height: 80vh;
}

.management-main {
  width: 100vw;
  height: 80vh;
}
.management-main .management-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.management-main .management-container .management-icon {
  width: 15rem;
  filter: grayscale(1);
}
.management-main .management-container .management-text {
  font-size: 2rem;
  text-align: center;
  margin-inline: 2rem;
}
.management-main .management-container .management-link {
  font-size: 2.5rem;
  width: 11rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
