/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, Helvetica, Arial;
}

/* Root */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Colors */
:root {
  --color-pink: #ef62a3;
  --color-yellow: #ffcc29;
  --color-grey: #2F2E2E;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

.error-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.error-container .error-icon {
  width: 15rem;
  filter: grayscale(1);
}
.error-container .error-message {
  font-size: 2rem;
}
.error-container .error-text {
  font-size: 4rem;
}
.error-container .error-home-link {
  font-size: 2.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
}

header {
  z-index: 99999;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
header .header-logo {
  width: 9rem;
  margin: 1rem;
}
header .header-menu-mobile-button {
  background-color: transparent;
  border: none;
}
header .header-menu-mobile-button .header-menu-mobile {
  width: 3.5rem;
  margin: 2rem;
  filter: invert(52%) sepia(69%) saturate(1186%) hue-rotate(298deg) brightness(98%) contrast(92%);
}
header .header-menu-mobile-close-button {
  background-color: transparent;
  border: none;
  padding: 0.7rem;
}
header .header-menu-mobile-close-button .header-menu-mobile-close {
  width: 2.5rem;
  margin: 1.8rem;
  filter: invert(52%) sepia(69%) saturate(1186%) hue-rotate(298deg) brightness(98%) contrast(92%);
}
header .nav-bar-container {
  display: none;
}
header .nav-bar-container .nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100vw;
  height: 8vh;
  background-color: var(--color-white);
  position: absolute;
  padding-top: 2rem;
  left: 0;
  top: 8rem;
  list-style: none;
}
header .nav-bar-container .nav-bar .nav-bar-link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-pink);
  background-color: var(--color-white);
  font-weight: 600;
}
header .nav-bar-container .nav-bar .nav-bar-link-yellow {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-yellow);
  background-color: var(--color-white);
  font-weight: 600;
}
header .nav-bar-container .nav-bar .admin-link {
  display: none;
}
header .open-navbar {
  display: flex;
}

footer {
  width: 100vw;
  height: 12vh;
  position: relative;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  background-color: #2F2E2E;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
footer .footer-link {
  font-size: 1.8rem;
  color: var(--color-white);
  text-decoration: none;
  margin-bottom: 0.5rem;
}
footer .footer-text {
  color: var(--color-white);
}

/*# sourceMappingURL=style.css.map */
